<a (click)="toggleSidebar()"
  role="link"
  [routerLink]="link"
  routerLinkActive="active"
  class="list-group-item leaf-menu"
  attr.aria-label="{{leaf.label|i18n}}">
  <span class="menu-icon" ><i class="fa" [ngClass]="classes"></i></span>
  {{leaf.label|i18n}}
</a>
