<div class="report-print">
<h3 class="first">{{'Stampa'|i18n}}</h3>

<div *ngIf="reports.length <= 0">
  {{'Non ci sono stampe da visualizzare'|i18n}} 
</div>

<div *ngIf="reports.length > 0">
  <form [formGroup]="form" role="form">
    <div class="row" style="margin-bottom: 1em">
      <div class="col-3">
        <label for="reportContentId">{{'Select Print'|i18n}}*</label>
      </div>
    <!-- <div class="ui-grid-col-4">
        <p-dataTable [value]="reports" [(selection)]="selectedReport" (onRowSelect)="onRowSelect($event.data)" >
          <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
          <p-column field="reportContentId">
            <ng-template let-report="rowData" pTemplate="body">
              <span pTooltip="{{report.reportContentId}}">{{report.reportName}}</span>
            </ng-template>
          </p-column>
        </p-dataTable>
        <p-listbox formControlName="reportContentId" [options]="reportSelectItems" [(ngModel)]="selectedReport">
          </p-listbox>
          <ul>
            <li *ngFor="let report of reports">
              <p-radioButton formControlName="reportContentId" name="reportContentId" value="{{report.reportContentId}}" label="{{report.reportName}}" [(ngModel)]="selectedReport" (change)="onRowSelect(report)"></p-radioButton>
            </li>
          </ul>
      </div>-->
      <div class="col-4">
        <div *ngFor="let report of reports">
            <p-radioButton formControlName="reportContentId" name="reportContentId" value="{{report.reportContentId}}_{{report.contentName}}_{{report.workEffortTypeId}}" label="{{secondaryLang()?report.etchLang:report.reportName}}" [(ngModel)]="contentIdContentName" (onClick)="onRowSelect(report)" role="button"></p-radioButton>
        </div>
      </div>
      <div class="col-5">
        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['reportContentId'].valid&amp;&amp;form.controls['reportContentId'].dirty" >
          <i class="fa fa-times"></i>
          {{'Report Content Id is required'|i18n}}
        </div>
      </div>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
</div>

