<p-toast></p-toast>

<div *ngIf="timesheetCalendar">
    <app-timesheet-calendar></app-timesheet-calendar>
</div>

<div *ngIf="!timesheetCalendar">
    <app-timesheet-table [params]="params" [isAdmin]="isAdmin" [timesheets]="timesheets" [context]="context"></app-timesheet-table>
</div>