<p-toast></p-toast>

<!-- Messages Error -->
<p-messages [(value)]="messagesError" [enableService]="false"></p-messages>

<p-card>
  <ng-template pTemplate="header">
    <app-toolbar-data-table [gridArray]="gridArray" (buttonNewEvent)="openNew()" (deleteEvent)="deleteRowSelected()"
      (saveEvent)="saveAllElement()" [buttonDelete]="buttonDelete" [buttonBack]="false" [buttonNew]="buttonNew"
      [buttonExport]="false" [dataTable]="dataTable" [buttonSave]="buttonSave"></app-toolbar-data-table>
  </ng-template>
  <ng-template pTemplate="body">
    <app-table-editing-cell [isNewItem]="newTimeEntry" [selectedOn]="selectedOn" [isAction]="true"
      [headArray]="headArray" [gridArray]="gridArray" [editingCell]="true" [formShape]="range"
      [editingKeyId]="editingKeyId" [typeDropdownInputArray]="workEffortsName"
      (shareDescriptorTable)="shareDescriptorTable($event)" (notifyInputChanges)="notifyInputChanges($event)"
      (shareSelectionItem)="shareSelectionItem($event)"></app-table-editing-cell>
  </ng-template>
</p-card>


<p-confirmDialog #cd [style]="{width: '450px'}">
  <ng-template pTemplate="header" icon="pi pi-times-circle">
    <h3>{{'Attention'|i18n}}</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times-circle" label="No" (click)="cd.reject()"
      aria-label="select no"></button>
    <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()" aria-label="select yes"></button>
  </ng-template>
</p-confirmDialog>