<!-- loader for legacy -->
<app-loader></app-loader>
<div class="contentlayout">
  <!-- header -->
  <app-header></app-header>
  <!-- sidebar -->
  <app-sidebar></app-sidebar>
  <section class="contentlayout-container">
    <app-breadcrumb></app-breadcrumb>
    <!-- child module -->
    <router-outlet></router-outlet>

    <!-- footer -->
    <app-footer></app-footer>
  </section>
</div>
