<div class="navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto mt-2 mt-md-0">
        <div class="nav-item dropdown" (openChange)="toggled($event)" #reportDownload="ngbDropdown" ngbDropdown placement="bottom-left">
          <a href="javascript:void(0)" class="nav-link dropdown-toggle" ngbDropdownToggle>
            <i class="fa fa-download"></i> &nbsp; {{'Download'|i18n}} <b class="caret"></b>
          </a>
          <div ngbDropdownMenu style="width: 30rem; left: -20rem;" >
            <app-progress-bar [showValue]="showValueProgressBar"></app-progress-bar>
            <p-table *ngIf="reports" [value]="reports" class="datatable-list" responsiveLayout="scroll" >
              <ng-template let-report pTemplate="body">
                <tr>
                  <td *ngIf="report.status =='DONE'">
                    <a target="_blank" href="{{reportUrl(report)}}">{{report.reportName}}</a>
                  </td>
                  <td *ngIf="report.status !='DONE'" >
                    <span>{{report.reportName}}</span>
                  </td>
                  <td *ngIf="report.status =='RUNNING'" [style]="{'width':'20%'}">
                    <p-progressSpinner [style]="{width: '20px', height: '20px'}" ></p-progressSpinner>
                  </td>
                  <td *ngIf="report.status !='RUNNING'" [style]="{'width':'20%'}">
                    <span>{{report.status|i18n}}</span>
                  </td>
                  <td [style]="{'width':'10%'}">
                    <button hidden="report.status =='RUNNING'" placement="top" ngbTooltip="{{'Remove'|i18n}}" container="body" type="button" pButton icon="fa fa-times" (click)="onDeleteSelect(report)"></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div *ngIf="reports?.length === 0" class="container">
            <div  class="row">
              <div class="col mb-2 dropdown-item">
                {{'no reports found'|i18n}}
              </div>
            </div>
            </div>
          </div>
        </div>
    </ul>
</div>


