/*----------------------------------------------------------------------------*/
/* Inspinia colors                                                            */
/*----------------------------------------------------------------------------*/

$inspinia-colors: (
  primary: #2c7ef1
);

//86abde
//B6DAFF 
//EDFBFF
/*----------------------------------------------------------------------------*/
/* Other colors                                                               */
/*----------------------------------------------------------------------------*/

$app-colors: (
  background-cl: #EDFBFF /*#e1e7e9*/,
  alt-cl: #DBEDFF,
  default-bg: transparent,
  default-cl: gray,
  active-cl:#232323,
  item-sidebar-active-cl: #232323,
  title-bg:  #B6DAFF,
  text-color: gray,
  text-contrast: gray,
  title-bd-cl: #cccccc,
  light: white,
  disabled: #cccccc,
  error: #ED5565,
  navbar-hl: #FFF,
  navbar-fg: #999,
  navbar-bg: #86abde,
  toolbar-bg: #86abde,
  overlay: rgba(0, 0, 0, 0.6),

  color-primary: #111,
  color-black: #000,
  color-white: #fff,
  color-grey-10: #f5f5f0,
  color-grey-15: #f6f9fc,
  color-grey-20: #eee,
  color-grey-30: #ddd,
  color-grey-40: #a5abb0,
  color-grey-50: #5a6772,
  color-grey-60: #444e57,
  color-grey-80: #30373d,
  color-grey-90: #1c2024,

  color-5: #DEEFEE,
  color-10: #C9E2E4,
  color-20: #B4CFD9,
  color-30: #9FB8CE,
  color-40: #8A9EC2,
  color-50: #7681B6,
  color-60: #6362A9,
  color-70: #635595,
  color-80: #614881,
  color-90: #5B3B6C,
  color-95: #522F57,
);

$sidebar-colors: (
  tab-fg: white,
  tab-cl: #232323,
  tab-bg: map-get($app-colors, navbar-bg),
  tab-sel-bg:  #B6DAFF,
  tab-border: lighten(map-get($app-colors, navbar-bg), 30%)
);


@import "default";
