<div *ngIf="showValue" class="loader" style="margin-left: 2vw; margin-right:2vw;" role="progressbar">
<p-progressBar mode="indeterminate"  [style]="{'height': '6px', 'margin-left' : '2vw', 'margin-right' : '2vw' }"></p-progressBar>
</div>