<div class="focuslayout pippo">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col col-md-5 col-lg-4">

        <div class="focuslayout-container">

          <!-- Content here -->
          <router-outlet></router-outlet>
          
        </div>

      </div>
    </div>
  </div>
</div>
